@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body {
  margin: 0;
  padding: 0;
}

.react-root {
  color: #333;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  text-align: center;
  height: 100vh;
}

button {
  background: white;
  border-radius: 5px;
  margin: 3px;
  padding: 39px 29px;
  transition: padding 0.75s;
  margin-top: 95px;
}

button:hover {
  padding: 55px 33px;
  cursor: pointer;
}

.landing {
  background-image: url("./img/landing.jpg");
  background-size: 100%;
  background-position: center;
}

button.mj {
  background-image: url("./img/jordanj.jpg");
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid red;
}

.mj {
  background-image: url("./img/jordan.png");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

button.magic {
  background-image: url("./img/magicj.jpg");
  background-size: 133%;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid goldenrod;
}

.magic {
  background-image: url("https://feeds.frgimages.com/FFImage/thumb.aspx?i=/productImages/_3336000/ff_3336463-3e3e9fc3b418d43a32da_full.jpg?w=800");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

button.bird {
  background-image: url("./img/birdj.webp");
  background-size: 133%;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid green;
}

.bird {
  background-image: url("./img/birdp.jpg");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

button.shaq {
  background-image: url("./img/dieselj.jpg");
  background-size: 91%;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid goldenrod;
}

.shaq {
  background-image: url("./img/dieselp.webp");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

button.iverson {
  background-image: url("./img/iversonj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid black;
  background-size: 91%;

}

.iverson {
  background-image: url("./img/iversonp.webp");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}
